/Khizhniak_homework_16-Flexbox.zip
/khizhniak_homework_14-BeautySite_Adapt
/Khizhniak_homework_16-Flexbox
/Khizhniak_homework_13_Cherry
/Khizhniak_lesson17/OwlCarousel2-2.3.4
/Khizhniak_lesson17/slick-1.8.1