
.banner__wrapper{
	position: relative;
}
.banner__img{
	width: 100%;
}
.banner__info {
	position: absolute;
	left: 39px;
	top: 39px;
	max-width: 483px;
}

.banner__info-label {
	color: #a5adb8;
	font: 700 1.875rem "Arial";
	margin-bottom: -1px;
	overflow: hidden;
}
.banner__info-desc {
	color: #282d33;
	font: 700 1.125rem "Arial";
	margin-bottom: 13px;
	overflow: hidden;
}
.banner__info-label2 {
	font: 700 1.125rem "Arial";
	color: #a5adb8;
	margin-bottom: 5px;
	overflow: hidden;
}

.banner__info-text {
	width: auto;
	color: #d9dcdf;
	font: 400 0.875rem "Arial";
	line-height: 18px;
	height: 70px;
	overflow: hidden;
}