.header {
	padding: 19px 19px 16px 19px;
	background-color: #363e43;
	
}
.header__logo {
	display: block;
	float: left;
}
.header__logo-title {
	font: 700 1.875rem "Arial";
	display: block;
	color: #a5adb8;
	text-transform: uppercase;
	margin-bottom: -6px;
	margin-left: 2px;
	text-shadow: 1px 1px rgba(0, 0, 0, 5%);
}

.header__logo-title:hover {
	color: #ae4b5d;
}

.header__logo-title:hover::first-letter {
	color: #a5adb8;
}

.header__logo-desc {
	font: 700 0.75rem "Arial";
	color: #656f7a;
}
.header__search {
	display: block;
	float: right;
	

}

.header__search form {
	max-width: 244px;
	width: 100%;
	margin-right: 15px;
}
.header__search-input{
	background-color: #24272d;
	color: #ffffff;
	border: 1px solid #875f66;
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 25%);
	margin-right: 6px;
	margin-top: 4px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	font: 400 0.875rem "Arial";
	border-radius: 5px;
	max-width: 198px;
	width: 100%;
}

.header__search-input:focus {
	border: 1px solid #000000;
	box-shadow: inset 2px 2px 5px rgba(139, 139, 139, 0.25), 2px 2px 5px rgba(139, 139, 139, 0.25) inset;
}

.header__search-input::placeholder {
	color: #5b636e;
	
}
.fa-solid {
	color: #fefdfd;
}

.header__search-btn:hover {
	background-color: #c35e70;
}

.header__search-btn {
	width: 36px;
	height: 34px;
	background-color: #ae4b5d;
	border-radius: 5px;
	margin-right: -6px;
}

/*-------menu-------*/

.menu {
	background-color: #95161f;
}
.menu__list {
	display: block;
	float: right;
}
.menu__list-item a {
	display: inline-block;
	color: #ffffff;
	padding: 9px 25.7px 9px 25.7px;
}

.menu__list-item {
	list-style: none;
	font: 700 1rem "Arial";
	float: left;
	
}

.menu__list-item:hover {
	background-color: #ffffff;
	
}

.menu__list-item a:hover{
	color: #95161f;
}

/*---------breadcrumbs-----------*/

.breadcrumbs {
	padding: 3px 0 6px 24px;
	background-color: #f3f3f3;
}
.breadcrumbs__list {

}
.breadcrumbs__list-item a {
	color:  #95161f;	
}
.breadcrumbs__list-item a:after {
	content:' / ';
}
.breadcrumbs__list-item a:hover{
	color: #000000;
}


.breadcrumbs__list-item {
	font: 400 0.6875rem "Arial";
	display: inline-block;
	
	color: #6b6f74;
}