article {
	float: left;
	max-width: 746px;
	padding-left: 27px;
	width: 100%;
}

.main__article {
	margin-top: 17px;
}
.main__article-label {
	font: 700 1.5rem "Arial";
	color: #5c646e;
	margin-bottom: 9px;
	width: 100%;
	overflow: hidden;
}

.main__article-text {
	font: 400 0.875rem "Arial";
	color: #5c646e;
	margin-bottom: 13px;
	line-height: 20px;
	height: 80px;
	overflow: hidden;
}

.red-style {
	color: #95161f;
	text-decoration: underline;
}

/*----------section videos--------------*/

.main__video {
	margin-bottom: 16px;
	padding-left: 28px;
	float:left;
}

.main__video-item {
	float:left;
	max-width: 30%;
	width: 100%;
	margin-right: 18px;
}

.main__video-label {
	color: #282d33;
	font: 700 1.125rem "Arial";
	margin-bottom: 10px;
	margin-left: -1px;
}

.main__video-item img {
	margin-left: -6px;
}

.main__video-item img:hover{
	box-shadow: -20px 20px 0 -17px #eeeeee,
	20px -20px 0 -17px #eee,
	20px 20px 0 -20px #592385,
	0 0 0 2px #592385;
	opacity: 0.7;
	transition: all ease-in-out 0.4s;
}

/*----------list 3 columns----------*/

.main__articles {
	margin-bottom: 24px;
	padding-left: 26px;
}

.main__articles-label {
	color: #a5adb8;
	font: 700 1.5rem "Arial";
	margin-bottom: 14px;
}

.main__articles-list {
	display: inline-block;
	width: 33.333%;
	vertical-align: top;
}

.main__articles-list:last-of-type {
	margin-right: 0;
	margin-left: -14px;
}

.main__articles-list-label {
	color: #5c646e;
	font: 400 0.875rem "Arial";
	margin-bottom: 2px;
}

.main__articles-list-item {
	color: #6b6f74;
	font: 400 0.875rem "Arial";
}

.main__articles-list-item li {
	line-height: 23px;
}

.main__articles-list-item ul {
	list-style: inside;
}

.unstyled > li {
list-style: none;
}

.first-list li > ul li {
	margin-left: -2px;
}

.unstyled li > ul li {
	margin-left: 11px;
}




/*--------table-------------*/

.table {
	margin-left: 262px;
	margin-right: 25px;
	padding-bottom: 57px;
}

table {
	width: 100%;
}

tr:first-of-type td:first-of-type {
	border-top-left-radius: 5px;
}

tr:first-of-type td:last-of-type {
	border-top-right-radius: 5px;
}

tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 5px;
}

tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 5px;
}

tr {
	border: 1px solid #d8dbde;
	border-collapse: collapse;
}

td {
	font: 400 0.75rem "Arial";
}

.table__link {
	color: #d08b98;
	text-decoration: underline;
}

.table__label{
	margin-bottom: 16px;
	font: 700 1.5rem "Arial";
	color: #a5adb8;
}

tr:first-of-type {
	background-color: #9c4757;
	color: #ffffff;
	text-align: center;
}

tr:not(:first-of-type) {
	background-color: #282d33;
	color: #a5adb8;
}

.style-center td {
	padding: 11px 0 6px 0;
}

td:not(.style-center td) {
	padding: 9px 13px 9px 11px;
}

table td:first-of-type {
	width: 46px;
	text-align: center;
}

