@import 'variables'
@import 'fonts'
@import 'mixins'
@import 'reset'
@import 'header'

//html *
  border: 1px solid green
html, body
  height: 100%

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.container
  max-width: 1350px
  padding: 0 15px
  margin: 0 auto

.container-about
  max-width: 1110px
  padding: 0 15px
  margin: 0 auto

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 50px
  &__logo-item-1
    display: flex
    align-items: center
  &__logo-text
    @include text-normal (36px, 44px)
    color: $color_main-blue
  &__info

    &-contacts
      display: flex
      flex-wrap: wrap
      margin-bottom: 18.5px
      &-list
        display: flex
        align-items: center
        & a>i
          color: $color_gray-text
        & a>i:hover
          color: $color_accent-pink
        & li.regular
          @include text-normal (16px, 20px)
          color: $color_gray-text
        & li.regular + li a
          @include text-bold (16px, 20px)
          color: $color_gray-text
        & li.dot:after
          @include menu-dots
      &-sublist
        display: flex
        & li a
          @include text-bold (12px, 15px)
          color: $color_gray-text
          padding: 5px 7px
          border-radius: 8px
          background-color: none
        & li:nth-of-type(3) a:link, & li:nth-of-type(3) a
          background-color: $color_accent-pink
          color: $color_hover-text
        & li a:hover
          background-color: $color_gray-bg
          color: $color_gray-text
        & li:nth-of-type(3):after
          @include menu-dots
    &-navigation-list
      display: flex
      justify-content: flex-end
      & li:nth-of-type(1) a:link, & li:nth-of-type(1) a
        @include link-hover-pink
        border-bottom: 2px solid $color_accent-pink
        padding-bottom: 3px
      & li:not(:last-of-type)
        margin-right: 15px
      & li a
        @include link-regular-blue
        &:hover
          @include link-regular-blue
          border-bottom: 2px solid $color_active-regular
          padding-bottom: 3px
        &:active
          @include link-hover-pink
          border-bottom: 2px solid $color_accent-pink
          padding-bottom: 3px



.main
  display: flex
  flex: 1 1 auto
  padding: 60px 0
  &__block
    display: flex
    &-label
      @include h1-label-pink
      margin-bottom: 28px
    &-text
      @include text-normal (19px, 30px)
      max-width: 662px
      overflow: hidden
      max-height: 260px
      margin-bottom: 30px
    & .text-2
      max-height: 300px
    &-score
      @include h2-label-pink
    &-rating
      border-left: 4px solid $color_gray-separator
      height: fit-content
      padding-left: 30px
      &-img
        display: flex
        align-items: center
        column-gap: 12px
        max-width: 150px
        overflow: hidden
        margin-bottom: 10px
      &-item:not(:last-of-type)
        margin-bottom: 40px
    & .no-line
      border-left: none
      padding-left: 60px
      max-width: 362px
      overflow: hidden
      max-height: 160px
    &-desc
      @include text-normal (16px, 20px)
      color: $color_main-blue
      max-width: 354px
      max-height: 40px
      overflow: hidden

.main__banner
  width: 100%
  margin-bottom: 60px
  & img
    display: block
    width: 100%
    height: auto
    object-fit: cover

.slider
  background-color: $color_gray-bg
  &__label
    @include h3-labelCaps-blue
    text-transform: uppercase
    letter-spacing: 1px
    text-align: center
    margin: 30px 0

.footer
  display: flex
