@import 'variables'

//labels
@mixin h1-label-pink
  font: normal 700 2.375rem/2.875rem 'Montserrat'
  background: $color_gradient-redText
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

@mixin h1-label-pink-2
  font: normal 700 1.875rem/2.3125rem 'Montserrat'
  background: $color_gradient-redText
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

@mixin h2-label-pink
  font: normal 700 2.25rem/2.75rem 'Montserrat'
  background: $color_gradient-redText
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

@mixin h2-label-blue
  font: normal 700 1.875rem/2.3125rem 'Montserrat'
  color: $color_main-blue

@mixin h3-label-caps
  font: normal 700 0.875rem/1.0625rem 'Montserrat'

@mixin h3-labelCaps-blue
  font: normal 700 0.875rem/1.0625rem 'Montserrat'
  color: $color_main-blue

@mixin h4-label-blue
  font: normal 700 1rem/1.25rem 'Montserrat'
  color: $color_main-blue

//paragraph/text
@mixin paragraph-text-black
  font: normal 400 1rem/1.625rem 'Montserrat'
  color: $color_block-text

@mixin ul-ol-text-black
  font: normal 400 1.125rem/1.625rem 'Montserrat'
  color: $color_block-text

@mixin text-normal ($fz, $fh)
  font: 400 $fz 'Montserrat'
  line-height: $fh
  font-style: normal

@mixin text-bold ($fz, $fh)
  font: 700 $fz 'Montserrat'
  line-height: $fh
  font-style: normal

@mixin text-boldCaps-blue ($fz, $fh)
  font: 700 $fz 'Montserrat'
  line-height: $fh
  font-style: normal
  color: $color_active-regular
  letter-spacing: 1px
  text-transform: uppercase

//links
@mixin link-regular-blue
  font: normal 700 1rem/1.25rem 'Montserrat'
  color: $color_active-regular

@mixin link-white
  font: normal 700 1rem/1.25rem 'Montserrat'
  color: $color_hover-text

@mixin link-hover-pink
  font: normal 700 1rem/1.25rem 'Montserrat'
  color: $color_accent-pink

@mixin link-hover-trans
  color: $color_accent-pink
  transition: $trans

@mixin btn-hover-trans
  background-color: $color_accent-pink
  transition: $trans

//elements-header

@mixin menu-dots
  content: ''
  display: inline-block
  width: 6px
  height: 6px
  border-radius: 100%
  background-color: $color_gray-separator
  margin-left: 4px
  margin-right: 4px
  vertical-align: middle

@mixin menu-dots-team
  content: ''
  display: inline-block
  width: 6px
  height: 6px
  border-radius: 100%
  background-color: $color_gray-separator
  margin-left: 10px
  margin-right: 10px
  vertical-align: middle

@mixin gray-line ($w)
  content: ''
  display: block
  height: 4px
  width: $w
  background-color: $color_gray-separator
  margin: 30px 0
