@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-about {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.header__logo-item-1 {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font: 400 2.25rem "Montserrat";
  line-height: 2.75rem;
  font-style: normal;
  color: #323264;
}
.header__info-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18.5px;
}
.header__info-contacts-list {
  display: flex;
  align-items: center;
}
.header__info-contacts-list a > svg {
  fill: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.regular + li a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.dot:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-contacts-sublist {
  display: flex;
}
.header__info-contacts-sublist li a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #B3B3BA;
  padding: 5px 7px;
  border-radius: 8px;
  background-color: none;
}
.header__info-contacts-sublist li:nth-of-type(3) a:link, .header__info-contacts-sublist li:nth-of-type(3) a {
  background-color: #F0145A;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li a:hover {
  background-color: #F5F5FA;
  color: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-navigation-list {
  display: flex;
  justify-content: flex-end;
}
.header__info-navigation-list li:last-of-type a:link, .header__info-navigation-list li:last-of-type a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.header__info-navigation-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header__info-navigation-list li a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:hover {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  border-bottom: 2px solid #24A3FF;
  padding-bottom: 3px;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:active {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.main__contacts-list li:nth-of-type(1), .main__contacts-list li:nth-of-type(2) {
  font: 400 1.3125rem "Montserrat";
  line-height: 1.875rem;
  font-style: normal;
  color: #323264;
}
.main__contacts-list li.line:after {
  content: "";
  display: block;
  height: 4px;
  width: 510px;
  background-color: #E6E6F0;
  margin: 30px 0;
}
.main__contacts-list li:nth-of-type(3) a {
  font: 400 1.3125rem "Montserrat";
  line-height: 1.875rem;
  font-style: normal;
  color: #46466E;
  margin-bottom: 15px;
}
.main__contacts-list li:nth-of-type(4) a {
  font: 400 1.3125rem "Montserrat";
  line-height: 1.875rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main__contacts-list li:nth-of-type(4) a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main__contacts-sublist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.main__contacts-sublist li a > svg {
  fill: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main__contacts-sublist li a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main__contacts-sublist li:last-of-type {
  max-width: 115px;
}
.main__contacts-sublist li:last-of-type p {
  font: 700 0.75rem "Montserrat";
  line-height: 1rem;
  font-style: normal;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}
.main__contacts-sublist li:last-of-type p:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}

.main__form input, .main__form textarea, .main__form button {
  display: block;
  width: 100%;
}
.main__form form {
  max-width: 510px;
  padding: 30px;
  background-color: #F5F5FA;
  border-radius: 12px;
}
.main__form-label {
  font: normal 700 1.875rem/2.3125rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 30px;
}
.main__form input, .main__form textarea {
  padding: 15px 15px 15px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  resize: none;
  transition: all ease-in-out 0.3s;
}
.main__form input:hover, .main__form textarea:hover {
  box-shadow: 0 0 40px rgba(101, 97, 97, 0.2) inset;
  transition: all ease-in-out 0.3s;
}
.main__form input:focus, .main__form textarea:focus {
  box-shadow: 0 0 40px rgba(101, 97, 97, 0.1) inset;
  transition: all ease-in-out 0.3s;
}
.main__form input::placeholder, .main__form textarea::placeholder {
  font: 400 1rem "Montserrat";
  line-height: 1.625rem;
  font-style: normal;
  color: #B3B3BA;
}
.main__form input:not(:last-of-type) {
  margin-bottom: 15px;
}
.main__form input:last-of-type, .main__form textarea {
  margin-bottom: 30px;
}
.main__form-text {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main__form button {
  padding: 18px 0;
  border-radius: 12px;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  color: #ffffff;
  border-color: transparent;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  transition: all ease-in-out 0.3s;
}
.main__form button:hover {
  background-color: #F0145A;
  transition: all ease-in-out 0.3s;
}

.footer {
  background-color: #F5F5FA;
  padding: 0px 0px 30px 0px;
}
.footer:before {
  content: "";
  display: block;
  height: 2px;
  margin: 0px auto 30px auto;
  background-color: #E6E6F0;
  max-width: 1350px;
  padding: 0 15px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__info-adress ul {
  display: flex;
  margin-bottom: 21px;
  align-items: center;
}
.footer__info-adress ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-adress ul li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.footer__info-adress ul li.ft-link a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__info-contacts ul {
  display: flex;
  align-items: center;
}
.footer__info-contacts ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-contacts ul li:nth-of-type(2) a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #46466E;
}
.footer__info-contacts ul li:last-of-type a {
  text-decoration: none;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li:last-of-type a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg {
  fill: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__copyright-text {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}