@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html * {
  border: 1px solid green;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-about {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.header__logo-item-1 {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font: 400 36px "Montserrat";
  line-height: 44px;
  font-style: normal;
  color: #323264;
}
.header__info-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18.5px;
}
.header__info-contacts-list {
  display: flex;
  align-items: center;
}
.header__info-contacts-list a > i {
  color: #B3B3BA;
}
.header__info-contacts-list a > i:hover {
  color: #F0145A;
}
.header__info-contacts-list li.regular {
  font: 400 16px "Montserrat";
  line-height: 20px;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.regular + li a {
  font: 700 16px "Montserrat";
  line-height: 20px;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.dot:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-contacts-sublist {
  display: flex;
}
.header__info-contacts-sublist li a {
  font: 700 12px "Montserrat";
  line-height: 15px;
  font-style: normal;
  color: #B3B3BA;
  padding: 5px 7px;
  border-radius: 8px;
  background-color: none;
}
.header__info-contacts-sublist li:nth-of-type(3) a:link, .header__info-contacts-sublist li:nth-of-type(3) a {
  background-color: #F0145A;
  color: #ffffff;
}
.header__info-contacts-sublist li a:hover {
  background-color: #F5F5FA;
  color: #B3B3BA;
}
.header__info-contacts-sublist li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-navigation-list {
  display: flex;
  justify-content: flex-end;
}
.header__info-navigation-list li:nth-of-type(1) a:link, .header__info-navigation-list li:nth-of-type(1) a {
  font: normal 700 16px/20px "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.header__info-navigation-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header__info-navigation-list li a {
  font: normal 700 16px/20px "Montserrat";
  color: #24A3FF;
}
.header__info-navigation-list li a:hover {
  font: normal 700 16px/20px "Montserrat";
  color: #24A3FF;
  border-bottom: 2px solid #24A3FF;
  padding-bottom: 3px;
}
.header__info-navigation-list li a:active {
  font: normal 700 16px/20px "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  padding-top: 60px;
}
.main__block {
  display: flex;
}
.main__block-info {
  margin-bottom: 60px;
}
.main__block-label {
  font: normal 700 38px/46px "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 28px;
}
.main__block-text {
  font: 400 19px "Montserrat";
  line-height: 30px;
  font-style: normal;
  max-width: 662px;
  overflow: hidden;
  max-height: 260px;
}
.main__block-text:not(:last-of-type) {
  margin-bottom: 30px;
}
.main__block .text-2 {
  max-height: 300px;
}
.main__block-score {
  font: normal 700 36px/44px "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__block-rating {
  border-left: 4px solid #E6E6F0;
  height: fit-content;
  padding-left: 30px;
}
.main__block-rating-img {
  display: flex;
  align-items: center;
  column-gap: 12px;
  max-width: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}
.main__block-rating-item:not(:last-of-type) {
  margin-bottom: 40px;
}
.main__block .no-line {
  border-left: none;
  padding-left: 60px;
  max-width: 362px;
  overflow: hidden;
  max-height: 1;
}
.main__block-desc {
  font: 400 16px "Montserrat";
  line-height: 20px;
  font-style: normal;
  color: #323264;
  max-width: 354px;
  max-height: 40px;
  overflow: hidden;
}

.main__banner {
  width: 100%;
  margin-bottom: 60px;
}
.main__banner img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider {
  background-color: #F5F5FA;
}
.slider__label {
  font: normal 700 14px/17px "Montserrat";
  color: #323264;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px 0;
}

.footer {
  display: flex;
}