@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-about {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.header__logo-item-1 {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font: 400 2.25rem "Montserrat";
  line-height: 2.75rem;
  font-style: normal;
  color: #323264;
}
.header__info-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18.5px;
}
.header__info-contacts-list {
  display: flex;
  align-items: center;
}
.header__info-contacts-list a > svg {
  fill: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.regular + li a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.dot:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-contacts-sublist {
  display: flex;
}
.header__info-contacts-sublist li a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #B3B3BA;
  padding: 5px 7px;
  border-radius: 8px;
  background-color: none;
}
.header__info-contacts-sublist li:nth-of-type(3) a:link, .header__info-contacts-sublist li:nth-of-type(3) a {
  background-color: #F0145A;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li a:hover {
  background-color: #F5F5FA;
  color: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-navigation-list {
  display: flex;
  justify-content: flex-end;
}
.header__info-navigation-list li:nth-of-type(1) a:link, .header__info-navigation-list li:nth-of-type(1) a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.header__info-navigation-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header__info-navigation-list li a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:hover {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  border-bottom: 2px solid #24A3FF;
  padding-bottom: 3px;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:active {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}

.main {
  padding-top: 60px;
}
.main__block {
  display: flex;
}
.main__block-info {
  margin-bottom: 60px;
}
.main__block-label {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 28px;
  max-width: 662px;
  overflow: hidden;
}
.main__block-text {
  font: 400 1.1875rem "Montserrat";
  line-height: 1.875rem;
  font-style: normal;
  max-width: 662px;
  overflow: hidden;
  max-height: 260px;
}
.main__block-text:not(:last-of-type) {
  margin-bottom: 30px;
}
.main__block .text-2 {
  max-height: 300px;
}
.main__block-score {
  font: normal 700 2.25rem/2.75rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__block-rating {
  border-left: 4px solid #E6E6F0;
  height: fit-content;
  margin-left: 30px;
  padding-left: 30px;
}
.main__block-rating-img {
  display: flex;
  align-items: center;
  column-gap: 12px;
  max-width: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}
.main__block-rating-item:not(:last-of-type) {
  margin-bottom: 40px;
}
.main__block .no-line {
  border-left: none;
  padding-left: 30px;
  max-width: 362px;
  overflow: hidden;
  max-height: 1;
}
.main__block-desc {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #323264;
  max-width: 354px;
  max-height: 40px;
  overflow: hidden;
}

.main__banner {
  width: 100%;
  margin-bottom: 60px;
}
.main__banner img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider {
  background-color: #F5F5FA;
}
.slider__label {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  color: #323264;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

div.swiper {
  margin-top: 0px;
  padding-bottom: 76px;
}
div.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
div.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
  background-color: var(--swiper-pagination-bullet-inactive-color, #24A3FF);
}
span.swiper-pagination-bullet:last-of-type {
  display: none;
}

div.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.footer {
  background-color: #F5F5FA;
  padding: 0px 0px 30px 0px;
}
.footer:before {
  content: "";
  display: block;
  height: 2px;
  margin: 0px auto 30px auto;
  background-color: #E6E6F0;
  max-width: 1350px;
  padding: 0 15px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__info-adress ul {
  display: flex;
  margin-bottom: 21px;
  align-items: center;
}
.footer__info-adress ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-adress ul li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.footer__info-adress ul li.ft-link a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__info-contacts ul {
  display: flex;
  align-items: center;
}
.footer__info-contacts ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-contacts ul li:nth-of-type(2) a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #46466E;
}
.footer__info-contacts ul li:last-of-type a {
  text-decoration: none;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li:last-of-type a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg {
  fill: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__copyright-text {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}