@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-about {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.header__logo-item-1 {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font: 400 2.25rem "Montserrat";
  line-height: 2.75rem;
  font-style: normal;
  color: #323264;
}
.header__info-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18.5px;
}
.header__info-contacts-list {
  display: flex;
  align-items: center;
}
.header__info-contacts-list a > svg {
  fill: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.regular + li a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.header__info-contacts-list li.dot:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-contacts-sublist {
  display: flex;
}
.header__info-contacts-sublist li a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #B3B3BA;
  padding: 5px 7px;
  border-radius: 8px;
  background-color: none;
}
.header__info-contacts-sublist li:nth-of-type(3) a:link, .header__info-contacts-sublist li:nth-of-type(3) a {
  background-color: #F0145A;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li a:hover {
  background-color: #F5F5FA;
  color: #B3B3BA;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.header__info-navigation-list {
  display: flex;
  justify-content: flex-end;
}
.header__info-navigation-list li:nth-of-type(3) a:link, .header__info-navigation-list li:nth-of-type(3) a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.header__info-navigation-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header__info-navigation-list li a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:hover {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #24A3FF;
  border-bottom: 2px solid #24A3FF;
  padding-bottom: 3px;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:active {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}

.main {
  padding-bottom: 60px;
}
.main__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}
.main__flex-item {
  width: 33.333%;
}
.main__label {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 1080px;
  overflow: hidden;
  text-align: left;
  margin: 60px auto;
}
.main__flex-item {
  max-width: 400px;
}
.main__flex-img {
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}
.main__flex-img img {
  width: 100%;
  object-fit: cover;
}
.main__flex-sub {
  display: flex;
  justify-content: space-between;
}
.main__flex-sub a > svg {
  fill: #F5F5FA;
  stroke: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main__flex-sub a > svg:hover {
  transition: all ease-in-out 0.3s;
  fill: #F0145A;
  stroke: #ffffff;
}
.main__flex-name {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #323264;
}
.main__flex-post {
  font: 400 0.875rem "Montserrat";
  line-height: 1.375rem;
  font-style: normal;
  color: #B3B3BA;
}

.main-team {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  padding: 60px 0;
}
.main-team__info {
  max-width: 620px;
  overflow: hidden;
}
.main-team__info-name {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 15px;
}
.main-team__info-contacts:after {
  content: "";
  display: block;
  height: 4px;
  width: 620px;
  background-color: #E6E6F0;
  margin: 30px 0;
}
.main-team__info-contacts ul {
  display: flex;
  align-items: center;
}
.main-team__info-contacts ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.main-team__info-contacts ul li:first-of-type {
  font: 400 0.875rem "Montserrat";
  line-height: 1.375rem;
  font-style: normal;
  color: #B3B3BA;
}
.main-team__info-contacts ul li:nth-of-type(2) a {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  text-decoration: none;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main-team__info-contacts ul li:nth-of-type(2) a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main-team__info-contacts ul li:last-of-type a {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main-team__info-contacts ul li:last-of-type a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main-team__info-text {
  font: normal 400 1rem/1.625rem "Montserrat";
  color: #000000;
}
.main-team__info-text:not(:last-of-type) {
  margin-bottom: 26px;
}
.main-team__info-label {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  color: #323264;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.footer {
  background-color: #F5F5FA;
  padding: 0px 0px 30px 0px;
}
.footer:before {
  content: "";
  display: block;
  height: 2px;
  margin: 0px auto 30px auto;
  background-color: #E6E6F0;
  max-width: 1350px;
  padding: 0 15px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__info-adress ul {
  display: flex;
  margin-bottom: 21px;
  align-items: center;
}
.footer__info-adress ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-adress ul li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
.footer__info-adress ul li.ft-link a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__info-contacts ul {
  display: flex;
  align-items: center;
}
.footer__info-contacts ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__info-contacts ul li:nth-of-type(2) a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #46466E;
}
.footer__info-contacts ul li:last-of-type a {
  text-decoration: none;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li:last-of-type a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg {
  fill: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__copyright-text {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}