@font-face {
	font-family: 'GraphikLCG-Regular';
	src: url('../fonts/GraphikLCG-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GraphikLCG-Semibold';
	src: url('../fonts/GraphikLCG-Semibold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}