* {
	border: 1px solid black;
}
.header {
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	padding: 25px 0;
}
/*
.header::after {
	content: '-';
	width: 1368px;
	height: 1px;
	background-color: #CCCCCC;
}
*/
.header__item-left {
	display: flex;
	column-gap: 51px;
	align-items: center;
}



.header__item-logo {
}
.header__navigation ul {
	display: flex;
	column-gap: 57px;
}

.header__navigation a {
	font-family: 'Graphik LC TT';
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 20px;
	color: #000000;
}
.header__item-right {
	display: flex;
	column-gap: 10px;
	align-items: center;
	
}
.header__item-login-btn {
	line-height: 45px;
	color: #000000;
	padding: 0 36px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__item-tryit-btn {
	line-height: 45px;
	color: #FFFFFF;
	padding: 0 21px 0 22px;
	background-color: #FF6336;
}

