@import url('../css/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Cormorant+Garamond:wght@500&family=Lobster&family=Oswald&family=Roboto&display=swap');
@import url('../css/style-null.css');
@import url('../css/header.css');
@import url('../css/main.css');
@import url('../css/footer.css');

.container {
	max-width: 1368px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-main {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-small {
	max-width: 1273px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-middle {
	max-width: 1226px;
	padding: 0 15px;
	margin: 0 auto;
}

.button {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
}

.text {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 400;
}

.text-bold {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 600;
}

